ilyas-recon.sqlite3
todo.md
/core/__pycache__/
/backup/*
/logs/*
/myvenv
/outputs/*
/inputs/*
!/inputs/resolvers.txt

/workflows/*
!/workflows/mass_verify_date.sh
!/workflows/mass_verify.sh

/tests/__pycache__/